{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap" rel="stylesheet">
  <title>Apply for a Job</title>
  <link rel="stylesheet" href="{% static 'css/apply.css' %}">
</head>
<body>
  <div class="container">
    <div class="apply_box">
      <a class="back-btn" href="{% url 'start-employee' %}">←</a>
      <h1>Job Application</h1>
      <form id="job-application-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_container">
          {% for field in form %}
          <div class="form_control">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <span class="error">{{ field.errors|join:", " }}</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="button_container">
          <button type="submit">Apply Now</button>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'javascript/apply.js' %}"></script>
</body>
</html>
